rasa==2.8.10
aiohttp>=3.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
httpx>=0.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
networkx>=2.6 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
sanic>=20.12.6 # not directly required, pinned by Snyk to avoid a vulnerability
scikit-learn>=0.24.2 # not directly required, pinned by Snyk to avoid a vulnerability
ujson>=5.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability
